services:
  backend:
    build: ./backend
    container_name: slimste_django_backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: slimste_vue_frontend
    volumes:
      - ./frontend:/app
      -  frontend_modules:/app/node_modules
    ports:
      - "5173:5173"

  db:
    image: postgres:14
    container_name: slimste_postgres_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  frontend_modules:
