name: Docker Build and Push

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: docker-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Backend Docker image
        run: |
          docker build backend -t ghcr.io/tyboro2002/slimste_student_backend:pr-${{ github.sha }}
          if [ "${{ github.event_name }}" == "push" ]; then
            docker tag ghcr.io/tyboro2002/slimste_student_backend:pr-${{ github.sha }} ghcr.io/tyboro2002/slimste_student_backend:latest
          fi

      - name: Build Frontend Docker image
        run: |
          docker build frontend -t ghcr.io/tyboro2002/slimste_student_frontend:pr-${{ github.sha }}
          if [ "${{ github.event_name }}" == "push" ]; then
            docker tag ghcr.io/tyboro2002/slimste_student_frontend:pr-${{ github.sha }} ghcr.io/tyboro2002/slimste_student_frontend:latest
          fi

      - name: Push Backend Docker image
        if: github.event_name == 'push'
        run: docker push --all-tags ghcr.io/tyboro2002/slimste_student_backend

      - name: Push Frontend Docker image
        if: github.event_name == 'push'
        run: docker push --all-tags ghcr.io/tyboro2002/slimste_student_frontend